[user]
  name = Mikami, Takeshi
  email = takeshi.mikami@gmail.com

[alias]
  st = status
  co = checkout
  br = branch
  logfull = log --pretty=fuller
  logall = log --branches --pretty=fuller --decorate=full
  push-origin = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git push origin $CRR_BRANCH
  push-fork = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git push fork $CRR_BRANCH
  catchup = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git checkout master && git pull && git checkout $CRR_BRANCH
  catchup-develop = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git checkout develop && git pull && git checkout $CRR_BRANCH
  fix-date = rebase HEAD~1 --ignore-date

[diff "wordx"]
  textconv = docx2txt
[diff "powerpointx"]
  textconv = pptx2txt
