[include]
  path = ~/.gitconfig.local

[core]
  excludesfile = ~/.gitconfig.d/.gitignore

[init]
  templateDir = ~/.gitconfig.d/git-template

[alias]
  st = status
  co = checkout
  br = branch
  sw = switch
  wt = worktree
  log1 = log --oneline
  push-origin = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git push origin $CRR_BRANCH
  push-fork = !CRR_BRANCH=$(git symbolic-ref --short HEAD) && git push fork $CRR_BRANCH
  pre-commit-run = !TARGETS=$(git diff --name-only HEAD && git ls-files --others --exclude-standard) && pre-commit run --files $TARGETS

  # visual-diff https://github.com/dlvhdr/diffnav
  vdiff = "!f() { git diff $1 | diffnav; }; f $2"

  # github https://docs.github.com/ja/github-cli/github-cli/about-github-cli
  pr-diff = "!f() { gh pr diff | diffnav; }; f"
  pr-clean = "!f() { \
    crr_branch=$(git rev-parse --abbrev-ref HEAD); \
    if [ \"$crr_branch\" = \"main\" ] || [ \"$crr_branch\" = \"master\" ]; then \
      for wt in $(git worktree list --porcelain | awk '/^worktree /{print $2}'); do \
        branch=$(git -C \"$wt\" branch --show-current); \
        if [ \"$(gh pr view \"$branch\" --json state --jq .state 2>/dev/null)\" = \"MERGED\" ]; then \
          echo \"remove $wt $branch\"; \
          git worktree remove \"$wt\"; \
          git branch -d \"$branch\"; \
        fi \
      done; \
      for branch in $(git branch --merged | grep -v \"^[+*]\" | grep -v \"^\\*|main$|master$|develop$\"); do \
        if [ \"$(gh pr view \"$branch\" --json state --jq .state 2>/dev/null)\" = \"MERGED\" ]; then \
          echo \"remove $branch\"; \
          git branch -d \"$branch\"; \
        fi \
      done \
    else \
      echo \"現在のブランチが main/master ではないため実行しません: $branch\"; \
    fi; \
  }; f"
  pr-get = "!f() { \
    crr_branch=$(git rev-parse --abbrev-ref HEAD); \
    if [ \"$crr_branch\" = \"main\" ] || [ \"$crr_branch\" = \"master\" ]; then \
      branch=$(gh pr view $1 --json headRefName --jq .headRefName); \
      git fetch origin $branch; \
      git worktree add /Users/mikamitakeshi/repo/worktree/$branch $branch; \
    else \
      echo \"現在のブランチが main/master ではないため実行しません: $branch\"; \
    fi; \
  }; f"

  # orca & worktree
  wt-new = "!f() { DEFAULT_BRANCH=$(git symbolic-ref --short refs/remotes/origin/HEAD | sed 's#^origin/##') && orca worktree create --base-branch $DEFAULT_BRANCH --no-parent --name $1 > /dev/null; }; f"
  wt-sub = "!f() { orca worktree create --name $1 > /dev/null; }; f"
  wt-clean = "!f() { \
    orca worktree ps --json \
    | jq -r '.result.worktrees.[] | select(.linkedPR.state==\"closed\" or .linkedPR.state==\"merged\") | .worktreeId' \
    | xargs -I{} orca worktree rm --worktree id:{} $1;\
  }; f"
